<header class="container">
  <div class="row pt-2">
    <div class="col">
      <h1 id="page-title" class="text-dark text-center">
        Welcome to <span class="text-danger">AWS CodePipeline</span>
      </h1>
      <hr>
      <h2 class="text-right">
        <span class="badge badge-info">Version: 9.0</span>
      </h2>
    </div>
  </div>
</header>

<table border="1" align="center">           
      <tr align="center">        
          <img src="images/AWS-CodePipeline.jpg" align="center">    
       </tr>
    </table> 

<main class="container">
  <div class="row pt-2">
    <div class="col">
      <p class="lead">
        Congratulations! Successfully Built and Deployed.
      </p>
      <p class="lead">
        Amit Kumar Gupta <strong> Cloud Architect </strong> Contact - +91-9818168693 , Email - akgmt20@gmail.com
      </p>
      <app-calculator></app-calculator>
    </div>
  </div>
</main>

<router-outlet></router-outlet>